@model OrdenCompraViewModel
@{
    ViewData["Title"] = "Crear Orden de Compra";
}
<h1>FORMULARIO PRUEBA</h1>


<form asp-controller="OrdenCompra" asp-action="Crear" method="post">

    <!-- Materia Prima -->
    <div class="mb-3">
        <label class="form-label">Materia Prima</label>
        <select asp-for="ordenCompra.IdMateriaPrima" class="form-select">
            <option selected disabled>Seleccione una Materia Prima</option>
            @foreach (var item in Model.materiasPrimas)
            {
                <option value="@item.Id">@item.Nombre</option>
            }
        </select>
    </div>

    <!-- Proveedor -->
    <div class="mb-3">
        <label class="form-label">Proveedor</label>
        <select asp-for="ordenCompra.IdProveedor" class="form-select">
            <option selected disabled>Seleccione un Proveedor</option>
            @foreach (var item in Model.proveedores)
            {
                <option value="@item.Id">@item.NombreEntidad</option>
            }
        </select>
    </div>

    <!-- Cantidad -->
    <div class="mb-3">
        <label asp-for="ordenCompra.CantidadUnidades" class="form-label"></label>
        <input asp-for="ordenCompra.CantidadUnidades" class="form-control" />
    </div>

    <!-- Precio Unitario -->
    <div class="mb-3">
        <label asp-for="ordenCompra.PrecioUnitario" class="form-label"></label>
        <input asp-for="ordenCompra.PrecioUnitario" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Registrar Orden</button>
</form>

